html
{
    margin: 0px 175px auto;
}
h1
{
    color: rgb(254, 248, 245);
    background-image: url("images/coffee-beans.jpg");
    height: 110px;
    text-align: left;
    font-family: sans-serif;
    font-size: 50px;
    padding: 20px 20px 0px;
}
.xyz ul{
    list-style-type:none;
    background-color: rgba(198, 0, 0, 0.797);
    padding: 0px;
    overflow: hidden;
    margin: -30px 0px;
}
.xyz li{
    float: left;
}
.xyz li a{
    display: block;
    text-align: center;
    padding: 15px 44.9px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
}
.xyz li a:hover{
    background-color:black;
}
.right{
   position: absolute;
   right: 175px;
   padding: 25px;
   width: 255px;
   background-color: tan;
   text-align: center;
   height: 180px;
}
.abc ul{
    list-style-type: none;
    padding: 0px;
    margin: 100px 0px;
    background-color: lightgrey;
    overflow: hidden;
}
.abc li{
    float: left;
    bottom: 0%;
}
.abc li a{
    display: block;
    text-decoration: none;
    color: gray;
    text-align: center;
    padding: 10px 50px;
}
.abc li a:hover{
    color: black;
}
.para{
    width: 650px;
}
@media screen and (max-width: 800px) {
    .para, .right{   
      width: 30%;
      padding: 0;
    }
  }
  p{
      font-size: 19px;
      font-family: 'Times New Roman', Times, serif;
  }
  .col{
      color: orangered;
  }
  h2{
      color: orangered;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 35px;
      margin: 60px 0px 20px;
  }
  .right1{
      position: absolute;
      right: 175px;
      padding: 25px;
      background-color: tan;
      width: 240px;
      text-align: center;
  }
  .roasting.para{
      width: 290px;
  }
  @media screen and (max-width: 800px) {
      .right1{
          width: 20%;
      }
      .roasting.para{
          width: 40%;
      }
      .roaster, .kk{
          visibility: hidden;
      }
  }
  h3{
      color: orangered;
      font-size: 28px;
  }
  h4{
      color: orangered;
      font-family: 'Courier New', Courier, monospace;
      font-size: 20px;
  }
  table{
      font-family: arial, sans-serif;
      width: 100%;
      border-collapse: collapse;
  }
  td, th{
      border: 1px solid black;
      text-align: center;
      padding: 20px;
  }